.taxes{
    background-color: #e0e4da;
    min-height: 54vw;
}
.taxes-title{
    color: #4A614A;
    text-align: center;
    margin-top: 3%;
    font-style: oblique;
    margin-bottom: 3%;
}
#add-note-taxes{
    text-align: center;
    font-style: oblique;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    padding-bottom: 2%;
}