.img1{
    height: 50%;
    width: 50%;
    margin-left: 27%;
}
.img2, .img3, .img4, .img5, .img6, .img10, .img11, .img12{
    height: 35%;
    width: 35%;
    margin-left: 10%;
    margin-top: 2%;
}
.img7, .img8, .img9{
    height: 30%;
    width: 30%;
    margin-left: 3%;
}
.img13{
    display: inline-block;
    height: 35%;
    width: 35%;
    margin-left: 14%;
}

.img14{
    display: inline-block;
    height: 35%;
    width: 35%;
    margin-left: 2%;
}

.img15{
    height: 70%;
    width: 70%;
    margin-left: 12%;
}
.figma-images-first-part, .figma-images-second-part {
    display: flex;
}
.background {
    background-color: rgb(241, 241, 241);
}
.content{
    text-decoration: none;
    font-size: medium;
}
.title{ 
    display: inline-block;
    border-bottom: 3px solid #030355;
}
.alignment{
    padding-left: 1%;
}
.caption{
    margin-top: 10px;
    text-align: center;
}
.page-ss{
    margin-left: 29%;
    height: 45%;
    width: 45%;
}
.page-ss-double{
    margin-left: 3%;
    height: 50%;
    width: 45%;
}
.page-ss-plant-details{
    margin-left: 3%;
    height: 570px;
    width: 45%;
}
.page-ss-plant-comments{
    margin-left: 29%;
    height: 570px;
    width: 45%;
}
#page-plant{
    margin-left: 29%;
    height: 500px;
    width: 45%; 
}
#page-plants{
    margin-left: 29%;
    height: 600px;
    width: 45%; 
}
.flow-diagram {
    margin-left: 29%;
    height: 500px;
    width: 45%;
}