.plants {
    background-color: #e0e4da;
    min-height: 54vw;
}

/*#plants-title{*/
/*    background-color: white;*/
/*    border-radius: 10px;*/
/*    color: #4A614A;*/
/*    width: fit-content;*/
/*    height: 30px;*/
/*    font-size: large;*/
/*    margin-left: 40%;*/
/*    padding: 15px;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    margin-top: 3%;*/
/*    font-style: oblique;*/
/*}*/
.box-plants{
    height: fit-content;
    margin: 40px;
    width: 200px;
    background-color: #E0E4DA;
    box-shadow: 0 0 20px #253625;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    justify-content: center;
    padding-left: 15px;
}
.box-plants:hover{
    box-shadow: 0 0 30px #131e13;
}
#plant-name-img{
    height: 160px;
    width: 180px;
    object-fit: fill;
    border-radius: 5px;
    margin-bottom: 4%;
}
#plants-title{
    background-color: white;
    border-radius: 10px;
    color: #4A614A;
    width: fit-content;
    height: fit-content;
    font-size: large;
    margin-left: 20%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}
.title-box-plants{
    width: 45%;
    margin-left: 30%;
    background-size: 90%;
    background-repeat: no-repeat;
    padding-top: 14%;
}
.plant-name{
    background-color: white;
    border-radius: 6px;
    color: #4A614A;
    font-weight: bold;
    min-height: 30px;
    height: fit-content;
    font-size: medium;
    padding: 5px;
    margin-right: 7%;
    text-align: center;
}