.plant-details{
    background-color: #e0e4da;
    min-height: 54vw;
}

.title-box-plant-details{
    width: 45%;
    margin-left: 27%;
    /*background-size: 90%;*/
    background-repeat: no-repeat;
    padding-top: 22%;
}
.plant-details-title{
    background-color: white;
    border-radius: 10px;
    color: #4A614A;
    width: 300px;
    height: 80px;
    margin-left: 38%;
    padding: 5px;
    text-align: center;
    font-style: oblique;
    margin-top: 1%;
}

#plant-species-title-details{
    font-size: medium;
    margin-top: 6%;
}

#plant-title-details{
    font-weight: bold;
    font-size: larger;
}
.details-bottom{
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    font-size: larger;
    width: 500px;
}
.icon-plant-details{
    margin-right: 3%;
}
.plus-plant-details{
    font-size: large;
    margin-left: 9%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#description-plant-title{
    margin-bottom: 1%;
}